@import url(./modules/userTheme.css);
@import url(./modules/general.css);

:root {
	--hover-text-color: #dc9457;
}

@font-face {
	font-family: MonumentExtended;
	src: url(../assets/fonts/MonumentExtended/MonumentExtended-Regular.otf);
}
body {
	background-color: var(--bg-color);
	font-family: MonumentExtended;
	color: var(--text-color);
}

.container {
	padding: 0 50px;
}
.header {
	position: sticky;
	top: 0;
	/* border-bottom: 1px solid; */
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: auto;
}
.darkmodeBtn {
	cursor: pointer;
}
/*  */
.sort-nav {
	height: 75px;
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid;
}
.select {
	width: 15px;
	padding: 5px;
	background: none;
	border: none;
	color: inherit;
}
/*  */
.products-section {
	height: 440px;
	padding: 30px 0;
}
.products {
	width: 100%;
	height: 100%;
	display: grid;
	overflow: auto;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.product {
	width: 200px;
	height: fit-content;
	margin-bottom: 20px;
	cursor: pointer;
}
.product-img-ctn {
	height: 200px;
	position: relative;
}
.product-img {
	height: 100%;
	width: 100%;
	position: absolute;
	object-fit: cover;
	object-position: 50% 0;
}
.product-name {
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding-top: 10px;
}
.product-price {
	color: var(--hover-text-color);
}
/*  */
.pop-up-wrapper {
	background-color: rgba(0, 0, 255, 0.2);
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 20;
}
.pop-up-ctn {
	width: 350px;
	height: 600px;
	border: 1px solid;
	position: relative;
	padding: 10px;
	background-color: var(--bg-color);
	word-break: break-word;
}
.pop-up-img-ctn {
	width: 100%;
	height: 30%;
	background: #000;
	margin-bottom: 20px;
}
.pop-up-info {
	height: 65%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.pop-up-description-ctn {
	margin-top: 20px;
	margin-bottom: 20px;
	height: fit-content;
	overflow: auto;
}
.pop-up-description-title {
	text-decoration: underline;
}
.pop-up-description {
	font-size: 12px;
	color: var(--text-color-soft);
}
.pop-up-btn {
	margin-bottom: 5px;
	width: 100%;
	height: 30px;
	cursor: pointer;
	background-color: var(--bg-color);
	color: var(--text-color);
	border: 1px solid;
}
.pop-up-close-btn {
	width: 30px;
	height: 30px;
	right: 10px;
	font-size: 19px;
	border: none;
	outline: none;
	padding: 5px;
	border-radius: 50%;
	position: absolute;
}
.pop-up-close-btn:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.9);
}

/*  */
.footer {
	border-top: 1px solid;
	text-align: center;
	padding: 10px 0;
}
/*  */
.none {
	display: none;
}
.loader {
	width: 50%;
}
