* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	/* --bg-color: #1c1c1c;
	--bg-color: #669;
	--text-color: #dfdfdd; */
	--hover-text-color: #dc9457;
}

@font-face {
	font-family: MonumentExtended;
	src: url(../assets/fonts/MonumentExtended/MonumentExtended-Regular.otf);
}
body {
	background-color: var(--bg-color);
	font-family: MonumentExtended;
	color: var(--text-color);
}
a {
	color: inherit;
	text-decoration: none;
}
ul {
	list-style: none;
}
img {
	width: 100%;
	height: auto;
}
/* .cards {
	width: 90%;
	margin: 0 auto;
	display: grid;
	gap: 15px;
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}
.card {
	border: 1px solid;
	text-align: center;
	padding: 5px;
}
.card-img {
	width: 100%;
	height: auto;
}
.card-btn {
	border: 1px solid;

	padding: 10px;
	outline: none;
}
.card-btn:hover {
	cursor: pointer;
	box-shadow: 2px 2px white;
} */
.container {
	padding: 0 50px;
}
.header {
	position: sticky;
	top: 0;
	border-bottom: 1px solid;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: auto;
}
.darkmodeBtn {
	cursor: pointer;
}
/*  */

/*  */
.footer {
	border-top: 1px solid;
	text-align: center;
	padding: 10px 0;
}
@media (prefers-color-scheme: light) {
	:root {
		--bg-color: #f8f3ed;
		--text-color: #2d2c2a;
	}
	body {
		color: var(--text-color);
		background-color: var(--bg-color);
		transition: color 0.5s, background-color 0.5s;
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #1c1c1c;
		/* --bg-color: #669; */
		--text-color: #dfdfdd;
	}
	body {
		color: var(--text-color);
		background-color: var(--bg-color);
		transition: color 0.5s, background-color 0.5s;
	}
}
