@import url(./modules/userTheme.css);
@import url(./modules/general.css);
:root {
	--hover-text-color: #dc9457;
}

@font-face {
	font-family: MonumentExtended;
	src: url(../assets/fonts/MonumentExtended/MonumentExtended-Regular.otf);
}
body {
	background-color: var(--bg-color);
	font-family: MonumentExtended;
	color: var(--text-color);
}

.container {
	padding: 0 50px;
}
/*  */
.header {
	position: sticky;
	top: 0;
	/* border-bottom: 1px solid; */
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: auto;
}
.darkmodeBtn {
	cursor: pointer;
}
/*  */
.buy-sectin-ctn {
	background: red;
	height: 500px;
	margin: 30px 0;
}
