* {
	box-sizing: border-box;
}
body {
	background-color: #669;
}
.cards {
	width: 90%;
	margin: 0 auto;
	display: grid;
	gap: 15px;
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}
.card {
	border: 1px solid;
	text-align: center;
	padding: 5px;
}
.card-img {
	width: 100%;
	height: auto;
}
.card-btn {
	border: 1px solid;

	padding: 10px;
	outline: none;
}
.card-btn:hover {
	cursor: pointer;
	box-shadow: 2px 2px white;
}
