@media (prefers-color-scheme: light) {
	:root {
		--bg-color: #f8f3ed;
		--text-color: #2d2c2a;
	}
	body {
		color: var(--text-color);
		background-color: var(--bg-color);
		transition: color 0.5s, background-color 0.5s;
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #1c1c1c;
		/* --bg-color: #669; */
		--text-color: #dfdfdd;
	}
	body {
		color: var(--text-color);
		background-color: var(--bg-color);
		transition: color 0.5s, background-color 0.5s;
	}
}
